html, body, .fullpage{
    height: 100%;
    margin: 0px;
}

.scroll_container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.scroll_container > :nth-child(odd),
.scroll_container > :nth-child(even) {
    height: 100vh;
    width: 100%;
    font-size: 30px;
}

.scroll_container > :nth-child(even){
    flex-direction: row-reverse;
}

.scroll_container > :nth-child(even) img{
    margin-right: 35px;
}

.scroll_container > .intro_box:nth-of-type(1) {
    background-image: url('../img_logo/water.jpeg');
    color: rgb(230, 230, 93);
}

.scroll_container > .intro_box:nth-of-type(2) {
    background-image: url('../img_logo/beach.jpg');
    color: lightgreen;
}

.scroll_container > .intro_box:nth-of-type(3) {
    background-image: url('../img_logo/path.jpg');
    color: lightyellow;
}

.intro_box {
    display: flex;
    align-items: center; 
    gap: 50px;
    width: 100%;
    height: calc(100vh + 53px);;
    overflow: hidden;
}

.intro_image img {
    height: 525px;
    width: 400px;
    margin: 3%;
    padding: 1%;
    border-radius: 25px;
    opacity: 92%;
}

.intro_content{
    margin: 3%;
    padding: 1%;
    backdrop-filter: blur(1px);
}