@import url(global.css);

body{
    min-height: 100vh;
    background-color: var(--background);
}

.menu_container {
    display: flex;
    position: relative;
}

.adminMenu {
    position: absolute;
    left: 0; 
    top: 100%; 
    gap: 20px;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 15%;
    height: calc(100vh - 88px); 
    overflow-y: auto;
    display: flex; 
    list-style-type: none; 
    margin: 0;
    padding: 20px 0;
}

.adminMenu li{
    display: flex;
    flex-wrap: wrap;
}

.adminMenu a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.adminMenu a:hover {
    color: black;
}

.notification_container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--white);
    border-radius: 20px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px); 
    min-width: 250px; 
    box-sizing: border-box;
    margin: 2%;
    margin-left: 17%;
}

.chart_container{
    display: flex;
}

#passChart{
    width: 450px; 
    height: 350px;
    margin-left: 17%;
    margin-top: 1%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--white);
}

#userChart{
    width: 700px; 
    height: 350px;
    margin-left: 2%;
    margin-top: 1%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: var(--white);
}
