@import url('global.css');


body{
    font-family: 'Times New Roman', Times, serif;
}

.stay{
    background-image: linear-gradient(rgba(3,9,30,0.6),rgba(3,9,30,0.6)),url(../img_logo/backgrd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text {
    color: var(--white);
    text-align: center;
    padding: 20px 100px;
}

.text h1{
    font-size: 60px;
}

.text p{
    margin: 10px 0 40px;
    font-size: 25px;
}

.learnmore{
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 12px 30px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
}

.learnmore:hover{
    border: 1px solid var(--text-dark);
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: 1ms;
}

.service{
    width: 80%;
    margin: auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.service h1{
    font-size: 60px;
    font-weight: 600;
}

.service p{
    color: var(--text-light);
    font-size: 25px;
    line-height: 20px;
    padding: 10px;
}

.courselist{
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sj {
  position: absolute;
  z-index: 100;
    bottom: 1%;
}

.course{
    background-color: var(--third-color);
    border-radius: 10px;
    margin-bottom: 5%;
    margin: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.course p{
    color: var(--text-light);
    font-size: 20px;
}

.course:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.erase-line {
  position: absolute;
  top: 0;
  right: 0;
  height: 4px;
  width: 0;              
  background: var(--secondary-color); 
  z-index: 10;
}

.scroll-spacer {
  height: 100vh;
}


@media (max-width: 800px){
    .text {
        padding: 20px 50px;
    }
    .text h1{
        font-size: 45px;
    }
    .text p{
        font-size: 20px;
    }
    .service h1{
        font-size: 45px;
    }
    .service p{
        font-size: 20px;
    }
    .courselist{
        margin: 10% 25%;
        flex-direction: column;
    }
    .course{
        margin-top: 10%;
    }
    .course h3{
        font-size:20px;
    }
    .course p{
        font-size: 15px;
    }
}

@media (max-width: 400px){
    .text h1{
        font-size: 32px;
    }
    .text p{
        font-size: 16px;
    }
    .service h1{
        font-size: 32px;
    }
    .service p{
        font-size: 16px;
    }
    .courselist{
        margin: 10% 15%;
    }
    .course h3{
        font-size:18px;
    }
    .course p{
        font-size: 15px;
    }
}