@import url('global.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #fff;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(3, 9, 30, 0.6), rgba(3, 9, 30, 0.6)), url(../img_logo/backgrd.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 30px;
  border-radius: 20px;
  width: 400px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.form h2 {
  margin-bottom: 10px;
}

.form-subtext {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ccc;
}

.form_content input[type="email"] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  background: #111;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}

.form_content button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #ff9966, var(--secondary-color));
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form_content button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}
