html{
    height: 100%;
    margin: 0px;
}

body{
    height: 100%;
    margin: 0px;
}

h1,p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.mainform{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_content input{
    width: 30%;
}

.form_content button{
    width: 13%;
}

.form_content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}