:root {
    --primary-color: #44195e;
    --secondary-color: #9101df;
    --third-color: #eaefff;
    --text-dark: black;
    --text-light: rgb(97, 97, 97);
    --white: white;
  }

*{
  margin: 0;
  padding: 0;
}

body, html {
    min-height: 100vh;
    color: #000;
}
