@import url('global.css');

body{
    background-image: url(../img_logo/???);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background-color: var(--secondary-color);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 65px;
}

nav a{
    font-size: 20px;
    height: 100%;
    padding: 0 40px;
    display: flex;
    text-decoration: none;
    color: var(--white);
    align-items: center;
}

nav .spe{
    margin-right: 20px;
}

nav .spe:hover{
    color: var(--first-color);
    transition: 0.15s ease-in-out;
    transform: scale(1.15);
}


nav li:first-child{
    margin-right: auto;
}

.side {
    position: fixed;
    top: 0; 
    right: -450px; 
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: right 0.2s ease-in-out; 
}

.side.show {
    right: 0;
}

.side li {
    width: 100%;
}

.side a {
    width: 100%;
}

.menu-button {
    display: none;
}



@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    nav .spe:hover{
        transition: 0.15s ease-in-out;
        transform: scale(1.01);
    }
}


@media (max-width: 400px) {
    .side {
        width: 100%;
    }
}


