@import url(global.css);

.quizbody {
    min-height: 90vh;
    display: flex;
    margin: 0 40px;
    justify-content: center; 
    align-items: center;    
  }
  

  .quiz-container {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
  }
  
  .quiz-container h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  
  .progress-bar {
    background-color: var(--grey);
    border-radius: 10px;
    height: 8px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    background-color: var(--secondary-color);
    height: 100%;
    width: 20%; 
    transition: width 0.3s ease-in-out;
  }
  
  .question-text{
    font-size: 20px;
    margin-bottom: 18px;
  }

  .options button {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 2px solid var(--grey);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .options button:hover {
    background-color: #e2e6ea;
  }
  
  .option-btn {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 2px solid var(--white);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .option-btn.selected {
    border-color: var(--secondary-color);
  }

  .submit-btn, 
  #second{
    float: right;
    background-color: var(--secondary-color);
    margin: 20px 0;
    border: none;
    color: var(--white);
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: bold;
    min-width: 120px;
    box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.3),
    0 2px 0 0 rgb(109 40 217),
    0 4px 0 0 rgb(91 33 182),
    0 6px 0 0 rgb(76 29 149),
    0 8px 0 0 rgb(67 26 131),
    0 8px 16px 0 rgba(147,51,234,0.5);
    overflow: hidden;
  }

  .returnbtn{
    margin-right: 15px;
  }

  .second{
    margin: 0 10px;
  }

  .submit-btn:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.3),
    0 1px 0 0 rgb(109 40 217),
    0 2px 0 0 rgb(91 33 182),
    0 3px 0 0 rgb(76 29 149),
    0 4px 0 0 rgb(67 26 131),
    0 4px 8px 0 rgba(147,51,234,0.5);
}

.circle-progress-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.circle-background {
  fill: none;
  stroke: #e6e6e6; 
  stroke-width: 8;
}

.circle-fill {
  fill: none;
  stroke: var(--secondary-color); 
  stroke-width: 8;
  transition: stroke-dashoffset 0.5s ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-text {
  font-size: 20px;
  font-weight: bold;
}

.submitreturn{
  text-align: center;
  text-decoration: none;
  color: var(--grey);
  margin: 0 40px;
}

  