@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  height: 100%;
  max-width: 100vw;
  background-color: var(--background);
  display: grid;
  grid-template-columns: auto 1fr;
}

.wrapper {
  margin: 0;
  padding: 0;
  max-width: none;
}

.tab {
    width: 100%;
    font-weight: 1000;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent;
}

.tab:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tab.active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10px;
}


:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --secondary-text-clr: #b0b3c1;
}

#sidebar{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}
#sidebar ul{
  list-style: none;
}
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
#sidebar ul li.active a{
  color: var(--secondary-color);

  svg{
    fill: var(--secondary-color);
  }
}

#sidebar a, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span{
  flex-grow: 1;
}
#sidebar a:hover{
  background-color: var(--hover-clr);
}

.dropdown-btn svg{
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: 180deg;
}
#sidebar .sub-menu a{
  padding-left: 2em;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: var(--hover-clr);
}

main{
  padding: min(30px, 7%);
  margin: 0;
  padding: 0;
  max-width: 98vw;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid var(--background);
  border-top: 6px solid var(--secondary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
} 

.flr{
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}

.classuidwrapper{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white);
  border-radius: 20px;
  padding: 20px;
}

.classuid{
  font-size: 25px;
}

#linenav{
  border: 1px solid var(--background); margin: 10px 0;
}
.infocover{
  margin-top: 220px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
}

.avatarnav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.namenav p{
  color: var(--primary-color);
  font-size: 25px;
}



/*Notes*/

  .wrappernotes{
    margin: 50px;
    padding: 0 20px;
  }

    .header-row {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .header-row-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .header-row h2 {
      margin: 0;
      font-size: 30px;
    }

    .action-buttons {
      display: flex;
      gap: 12px;
    }

    .action-buttons button {
      padding: 12px 20px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      font-size: 14px;
    }

    .export-btn {
      background-color: #e5e7eb;
      color: #333;
    }

    .filter-btn {
      background-color:  var(--secondary-color);
      color: white;
    }

    .filter-btn:hover {
      background-color:  var(--primary-color);
    }

    .table-box {
      background: white;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
      overflow-x: auto;
      width: 100%;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 900px;
    }

    thead {
      background-color: #f9fafb;
      text-transform: uppercase;
      font-size: 12px;
      color: #666;
    }

    th, td {
      padding: 16px 20px;
      text-align: left;
      border-bottom: 1px solid #eee;
    }

    .status {
      color: green;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .status::before {
      content: '✔️';
      margin-right: 6px;
    }

    .ellipsis {
      text-align: right;
      font-weight: bold;
      cursor: pointer;
    }

    tbody tr:hover {
      background-color: #f9f9f9;
    }

     .download-btn {
      background-color: var(--secondary-color);
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      text-decoration: none;
      font-size: 13px;
    }

    .download-btn:hover{
      background-color: var(--primary-color);
    }

/*Exercise submit*/
.exercisewrapper{
  display: flex;
  margin: 25px 50px;
  padding: 0 40px;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white);
  border-radius: 20px;
}

.section-divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.section-divider::before,
.section-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.section-title {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}


.card {
  margin: 40px 25px;
  width: 200px;
  height: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom right, #4a90e2, #5cd2e6);
  color: white;
  font-weight: bold;
}

.project-card {
  color: #000;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.project-card .lang-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fcd34d;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

.project-card .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url('../img_logo/sj.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
}


.project-card .title {
  margin-top: 20px;
  font-weight: bold;
}

.project-card .tittle {
  font-size: 18px;
  font-weight: bold;
}

.project-card .tittle a {
  color: var(--secondary-color);
  text-decoration: none;
}

.project-card .rating {
  margin: 12px 0;
}

.project-card .stars {
  color: gold;
  font-size: 18px;
}

.project-card .comments {
  margin-bottom: 8px;
  color: #555;
  max-width: 100%;
  word-wrap: break-word; 
  white-space: normal;  
}


.project-card .buttonsubmit {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  align-items: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 0;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.buttonsubmit a{
  text-decoration: none;
  color: var(--text-dark);
}

.buttonsubmit:hover,
.buttonsubmit:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttonsubmit:hover {
  transform: translateY(-1px);
}

.comments {
    position: relative; 
}

.popup-description {
    position: absolute;
    top: 30px; 
    left: 0;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1000;
}

.read-more-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9em;
    padding: 0;
    text-decoration: underline;
}

.read-more-btn:hover {
    color: #0056b3;
}

 .announcement-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 50px;
    }

    .announcement-card {
      box-sizing: border-box;
      padding: 0 40px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      max-width: 100%;
      margin: 25px;
      width: 100%;
      overflow: hidden;
      border-left: 6px solid #9101df;
      padding: 25px;
    }

.circle-image {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px auto;
    background-image: url('../img_logo/sj.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


    .author-time {
      color: #555;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .message-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    .message-body {
      font-size: 15px;
      line-height: 1.6;
      white-space: pre-line;
      margin-bottom: 20px;
    }

    .message-body strong {
      font-weight: 600;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
    }

    .submit-button {
      text-align: center;
      text-decoration: none;
      color: var(--white);
      box-shadow:
      inset 0 1px 0 0 rgba(255,255,255,0.3),
      0 2px 0 0 rgb(109 40 217),
      0 4px 0 0 rgb(91 33 182),
      0 6px 0 0 rgb(76 29 149),
      0 8px 0 0 rgb(67 26 131),
      0 8px 16px 0 rgba(147,51,234,0.5);
      border: none;
      background-color: var(--secondary-color);
      padding: 8px 16px;
      border-radius: 999px;
      cursor: pointer;
      font-weight: bold;
      min-width: 120px;
    }

    .submit-button:hover {
      transform: translateY(4px);
      box-shadow:
        inset 0 1px 0 0 rgba(255,255,255,0.3),
        0 1px 0 0 rgb(109 40 217),
        0 2px 0 0 rgb(91 33 182),
        0 3px 0 0 rgb(76 29 149),
        0 4px 0 0 rgb(67 26 131),
        0 4px 8px 0 rgba(147,51,234,0.5);
    }

    .reply-section {
      border-top: 1px solid #e0e0e0;
      padding-top: 10px;
    }

    .reply {
      font-size: 14px;
      color: #444;
      margin-top: 5px;
    }


/*Quiz CSS*/
.quizbox {
  display: flex;
  min-height: 85vh;
  overflow: hidden;
  flex-direction: row;
}

.quizleft, .quizright {
  width: 100%;
  display: flex;
}

.quizleft{
  max-width: 2000px;
  flex-direction: column;
}

.quizright{
  flex-direction: column;
  margin: 0 20px 0 50px;
}

.quiz-container {
  background-color: var(--white);
  border-radius: 8px;
  padding: 0 50px;
}

.quiz-container h1{
  font-size: 35px;
  margin: 15px 0;
}



@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(145, 1, 223, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(145, 1, 223, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(145, 1, 223, 0);
  }
}

.quiz-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  border-bottom: 2px solid transparent;
}


.quiz-item-underline {
  border: none;
  border-top: 2px solid  var(--third-color);
  margin: 0;
}

.quiz-icon {
  font-size: 30px;
  width: 40px;
  margin: 20px;
}

.quiz-details {
  flex-grow: 1;
  min-width: 200px;
}

.quiz-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.quiz-status {
  font-size: 0.9rem;
  color: #6b7280;
}

.quiz-score,
.quiz-percent {
  font-size: 0.9rem;
}

.quiz-action {
  margin-left: auto;
}

.status-completed {
  color: #16a34a;
}

.status-unavailable {
  color: #dc2626;
}

.status-available {
  color: #6b7280;
}

.btone,
.bttwo,
.btthree,
.btfour {
  border: none;
  color: var(--white);
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  min-width: 120px;
}

.btone,
.btfour{
  box-shadow:
  inset 0 1px 0 0 rgba(255,255,255,0.3),
  0 2px 0 0 rgb(109 40 217),
  0 4px 0 0 rgb(91 33 182),
  0 6px 0 0 rgb(76 29 149),
  0 8px 0 0 rgb(67 26 131),
  0 8px 16px 0 rgba(147,51,234,0.5);
  overflow: hidden;
}

.btone,
.bttwo,
.btfour{
  background-color: var(--secondary-color);
}

.bttwo{
  background-color: #b95eff;
}


.btthree{
  background-color: lawngreen;
}

.btone a,
.btfour a{
  text-decoration: none;
  color: var(--white);
}

.btone:hover,
.btfour:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.3),
    0 1px 0 0 rgb(109 40 217),
    0 2px 0 0 rgb(91 33 182),
    0 3px 0 0 rgb(76 29 149),
    0 4px 0 0 rgb(67 26 131),
    0 4px 8px 0 rgba(147,51,234,0.5);
}

.popup {
  display: none;
}

.btfour{
  height: 50px;
  max-width: 100px;
  float: right;
}

.xp-section .Avatar{
  margin: 0 50px;
  width: 135px;
  height: 135px;
  border: 100px;
}

.progress-circle {
  position: relative;
  width: 92px;
  height: 150px;
  margin: 20px 10px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle-bg,
.progress-ring__circle {
  transition: stroke-dashoffset 0.5s ease;
  transform-origin: 50% 50%;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

.progressbar1 .progress-ring__circle,
.progressbar2 .progress-ring__circle
{
  stroke: var(--secondary-color); 
}

.progress-label{
  font-size: 18px;
  margin: 0 20px;
}

.xp-section{
  margin: 27px 0 15px;
  min-height: 200px;
}

.progresswrapper{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 90%;
  max-height: 120px;
  margin: 7px 30px 7px 0;
}

.progresswrapper1{
  margin-top: 27px;
}

.btfour{
  margin: 15px 100px;
}

.xp-section,
.progresswrapper{
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.xp-section,
.progresswrapper,
.btfour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xp-bar-container {
  width: 100%;
  max-width: 700px;
  margin: 15px 0;
}

.xp-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
  text-align: left;
}

.xp-bar {
  width: 90%;
  background-color: #eee;
  border-radius: 20px;
  height: 20px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  margin: 20px 0;  
}

.xp-fill {
  height: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color) );
  transition: width 0.4s ease-in-out;
}

.progress-xp-box{
  width: 100%;
  min-width: 50vw;
}

.progress-duo-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40vw;
}

/*chatbox*/

.chatbox{
  background-color: var(--white);
  max-width: 26vw;
  height: 100vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: sans-serif;
}


.chat-input {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  flex-shrink: 0;
  
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.chat-input input[type="text"]:focus {
  border-color: var(--secondary-color);
}


.chat-input .sendbtn {
  margin-left: 8px;
  padding: 10px 16px;
  border: none;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-input .sendbtn:hover {
  background-color: var(--primary-color);
}

.emoji-icon {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.fa-smile{
  color: var(--secondary-color);
}

.emoji-wrapper {
    position: relative;
}

.emoji-picker {
    position: absolute;
    top: 100%;
    right: 100%;
    margin-top: 5px; 
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    scrollbar-width: thin;
    max-width: 220px;
}

.emoji-btn {
    font-size: 24px;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.emoji-btn:hover {
    background-color: #e0e0e0;
}

.input-with-emoji {
  position: relative;
  flex: 1;
}

.input-with-emoji input[type="text"] {
  width: 100%;
  padding-right: 40px; /* leave space for emoji icon */
  padding-left: 14px;
  box-sizing: border-box;
}

.input-with-emoji .emoji-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  z-index: 2;
}

.chat-messages {
    margin: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.chat-message {
    display: flex;
    margin-bottom: 30px;
    max-width: 100%;
}

.chat-message.user {
    background-color: var(--background); 
    justify-content: flex-end;
    padding: 10px 15px;
    border-radius: 15px;
    color: var(--text-color); 
    width: fit-content;
    max-width: 80%;
}

.chat-message.other {
    background-color: var(--secondary-color); 
    justify-content: flex-start; 
    color: var(--white); 
    padding: 10px 15px;
    border-radius: 15px;
    width: fit-content;
    max-width: 80%;
}

/*puzzle*/
.puzcover{
  margin-top: 100px;
      width: 80vw;
      background-color: var(--background);
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    .outer-box {
      background-color: var(--white);
      border-radius: 30px;
      margin: 40px;
      padding: 40px;
      height: calc(100% - 80px);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container1 {
      display: flex;
      flex-direction: row;
      gap: 80px;
      align-items: center;
    }

    .puzzle-section {
      text-align: center;
    }

    .label {
      margin-bottom: 30px;
      font-size: 36px;
      color: #333;
    }

    .puzzle-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav {
      background: transparent;
      border: none;
      font-size: 48px;
      cursor: pointer;
      padding: 0 20px;
    }

    .main-image {
      width: 650px;
      height: 400px;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }

    .main-image img.base {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      user-select: none;
      pointer-events: none;
    }

    .main-image.fully-colored img.base {
      filter: none;
    }

    .slot {
      position: absolute;
      width: 50%;
      height: 50%;
      z-index: 1;
      border: 3px solid white;
      box-sizing: border-box;
    }

    .slot img {
      width: 200%;
      height: 200%;
      object-fit: cover;
      position: absolute;
      user-select: none;
      pointer-events: none;
    }

    .slot-0 { top: 0; left: 0; }
    .slot-1 { top: 0; left: 50%; }
    .slot-2 { top: 50%; left: 0; }
    .slot-3 { top: 50%; left: 50%; }

    .slot-0 img { top: 0; left: 0; }
    .slot-1 img { top: 0; left: -100%; }
    .slot-2 img { top: -100%; left: 0; }
    .slot-3 img { top: -100%; left: -100%; }

    .slot img.piece-0 {
      clip-path: inset(0 50% 50% 0);
    }

    .slot img.piece-1 {
      clip-path: inset(0 0 50% 50%);
    }

    .slot img.piece-2 {
      clip-path: inset(50% 50% 0 0);
    }

    .slot img.piece-3 {
      clip-path: inset(50% 0 0 50%);
    }

    .dots {
      margin-top: 25px;
    }

    .dot {
      height: 16px;
      width: 16px;
      margin: 0 8px;
      background-color: #ccc;
      border-radius: 50%;
      display: inline-block;
    }

    .dot.active {
      background-color: #000;
    }

    .pieces {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: 30px;
    }

    .piece-wrapper {
      width: 240px;
      height: 135px;
      overflow: hidden;
      border-radius: 12px;
      cursor: grab;
      position: relative;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .piece-wrapper img {
      width: 480px;
      height: 270px;
      object-fit: cover;
      position: absolute;
      user-select: none;
      pointer-events: auto;
    }

    .piece-0 { top: 0; left: 0; }
    .piece-1 { top: 0; left: -240px; }
    .piece-2 { top: -135px; left: 0; }
    .piece-3 { top: -135px; left: -240px; }

    .submit {
      margin-top: 40px;
      padding: 20px 40px;
      font-size: 24px;
      border: none;
      background-color: #9100e6;
      color: white;
      border-radius: 40px;
      cursor: pointer;
    }

    .hidden {
      display: none;
    }

    .slot.highlight {
      outline: 4px dashed #555;
    }





@media (max-width: 1400px){
  .quiz-card {
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

@media (max-width: 800px){
  .quiz-card {
    min-width: none;
  }
}

@media (max-width: 600px) {
  .timeline {
    left: 8px;
  }

  .quiz-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .quiz-card img {
    margin-bottom: 10px;
  }

  .day-card button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
    .chatbox {
    height: 90vh;
    max-width: 100%;
    border-radius: 0;
  }

  .chat-input {
    flex-direction: column;
    gap: 8px;
  }

  .chat-input input[type="text"] {
    width: 100%;
    border-radius: 12px;
  }

  .chat-input button {
    width: 100%;
    border-radius: 12px;
  }
}





  