@import url('global.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  height: 100%;
  max-width: 100vw;
  background-color: var(--background);
  display: grid;
  grid-template-columns: auto 1fr;
}

.wrapper {
  margin: 0;
  padding: 0;
  max-width: none;
}


.tab {
    width: 100%;
    font-weight: 1000;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent;
}


.tab:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.tab.active {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10px;
}



:root{
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --secondary-text-clr: #b0b3c1;
}

#sidebar{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}
#sidebar ul{
  list-style: none;
}
#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
#sidebar ul li.active a{
  color: var(--secondary-color);

  svg{
    fill: var(--secondary-color);
  }
}

#sidebar a, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span{
  flex-grow: 1;
}
#sidebar a:hover{
  background-color: var(--hover-clr);
}

.dropdown-btn svg{
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: 180deg;
}
#sidebar .sub-menu a{
  padding-left: 2em;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: var(--hover-clr);
}

main{
  padding: min(30px, 7%);
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
} 

.tab-slide-in-left {
  animation: slideInFromLeft 0.2s forwards;
}

.tab-slide-in-right {
  animation: slideInFromRight 0.2s forwards;
}

.tab-slide-out-left {
  animation: slideOutToLeft 0.2s forwards;
  z-index: 1;
}

.tab-slide-out-right {
  animation: slideOutToRight 0.2s forwards;
  z-index: 1;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.classuidwrapper{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white);
  border-radius: 20px;
  padding: 20px;
}

.classuid{
  font-size: 25px;
}

/*Exercise submit*/
.exercisewrapper{
  display: flex;
  margin: 25px 50px;
  padding: 0 40px;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white);
  border-radius: 20px;
}

.section-divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.section-divider::before,
.section-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.section-title {
  padding: 0 1rem;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}


.card {
  margin: 40px 25px;
  width: 200px;
  height: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom right, #4a90e2, #5cd2e6);
  color: white;
  font-weight: bold;
}

.project-card {
  color: #000;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.project-card .lang-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fcd34d;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}

.project-card .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url('../img_logo/sj.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 30px;
}


.project-card .title {
  margin-top: 20px;
  font-weight: bold;
}

.project-card .buttonsubmit {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  align-items: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 0;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.buttonsubmit a{
  text-decoration: none;
  color: var(--text-dark);
}

.buttonsubmit:hover,
.buttonsubmit:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttonsubmit:hover {
  transform: translateY(-1px);
}

/*Quiz CSS*/
.quizbox {
  display: flex;
  min-height: 85vh;
  overflow: hidden;
}

.quizleft, .quizright {
  width: 100%;
  display: flex;
  align-items: center;
}

.quizright{
  flex-direction: column;
  margin-top: 20px;
}

.quiz-container {
  position: relative;
  margin: 20px auto;
}

.quizcurve {
  margin: 15px 0;
  width: 10px;
  background: var(--third-color);
  border-radius: 20px;
}



@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(145, 1, 223, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(145, 1, 223, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(145, 1, 223, 0);
  }
}

.quiz-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  flex-wrap: wrap;
  max-width: 50vw;
  width: 100%;
  margin: 20px;
}

.sidebar-close .quiz-card {
  min-width: 500px;
}

.quiz-card:hover{
  background: #8888883b;
  scale: 1.05;
}

.fa-book {
  font-size: 60px;
}

.text {
  flex-grow: 1;
  min-width: 120px;
  margin: 0 0 0 25px;
}

.quiz-card h3 {
  margin: 0;
  color: #333;
}

.quiz-card p {
  margin: 5px 0 0;
  color: #888;
}

.quiz-card .btone,
.quiz-card .bttwo,
.quiz-card .btthree,
.btfour {
  border: none;
  color: var(--white);
  padding: 8px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: bold;
  min-width: 120px;
}

.quiz-card .btone,
.btfour{
  box-shadow:
  inset 0 1px 0 0 rgba(255,255,255,0.3),
  0 2px 0 0 rgb(109 40 217),
  0 4px 0 0 rgb(91 33 182),
  0 6px 0 0 rgb(76 29 149),
  0 8px 0 0 rgb(67 26 131),
  0 8px 16px 0 rgba(147,51,234,0.5);
  overflow: hidden;
}

.quiz-card .btone,
.quiz-card .bttwo,
.btfour{
  background-color: var(--secondary-color);
}

.quiz-card .btthree{
  background-color: lawngreen;
}

.quiz-card button a,
.btfour a{
  text-decoration: none;
  color: var(--white);
}

.quiz-card .btone:hover,
.btfour:hover {
  transform: translateY(4px);
  box-shadow:
    inset 0 1px 0 0 rgba(255,255,255,0.3),
    0 1px 0 0 rgb(109 40 217),
    0 2px 0 0 rgb(91 33 182),
    0 3px 0 0 rgb(76 29 149),
    0 4px 0 0 rgb(67 26 131),
    0 4px 8px 0 rgba(147,51,234,0.5);
}

.popup {
  display: none;
}

.btfour{
  height: 50px;
  min-width: 200px
}

.xp-section .Avatar{
  margin: 0 30px;
  width: 50px;
  height: 50px;
  border: 100px;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px 10px;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle-bg,
.progress-ring__circle {
  transition: stroke-dashoffset 0.5s ease;
  transform-origin: 50% 50%;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

.progressbar1 .progress-ring__circle,
.progressbar2 .progress-ring__circle
{
  stroke: var(--secondary-color); 
}

.progress-label{
  font-size: 18px;
  margin: 0 20px;
}

.xp-section{
  margin: 15px 60px;
}

.progresswrapper{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50vw;
  margin: 0 30px;
}

.btfour{
  margin: 15px 0;
}

.xp-section,
.progresswrapper{
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.xp-section,
.progresswrapper,
.btfour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xp-bar-container {
  width: 100%;
  max-width: 600px;
  margin: 18px 0;
}

.xp-label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 6px;
  text-align: left;
}

.xp-bar {
  width: 80%;
  background-color: #eee;
  border-radius: 20px;
  height: 20px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
  margin: 10px 0;  
}

.xp-fill {
  height: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color) );
  transition: width 0.4s ease-in-out;
}

.progress-xp-box{
  width: 100%;
  max-width: 50vw;
  margin: 20px;
}

.progress-duo-box{
  display: flex;
  width: 100%;
  max-width: 48vw;
  margin: 20px;
}




@media (max-width: 1400px){
  .quiz-card {
    max-width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
  }
}

@media (max-width: 800px){
  .quiz-card {
    min-width: none;
  }
}

@media (max-width: 600px) {
  .timeline {
    left: 8px;
  }

  .quiz-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .quiz-card img {
    margin-bottom: 10px;
  }

  .day-card button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}





  